<link rel='ractive' href='./codemirror.html'>

<div class='left half'>
	<div class='top half'>
		<codemirror on-enter='setup' mode='htmlmixed' value='{{template}}' wrap='true'/>
	</div>
	<div class='bottom half'>
		<codemirror on-enter='setup' mode='javascript' value='{{code}}' wrap='true'/>
	</div>
</div>

<div class='right half'>
	<div class='top half'>
		<codemirror on-enter='run' mode='javascript' value='{{console}}' wrap='true'/>
	</div>
	<div class='bottom half output'></div>
</div>


<style>
	.left, .right {
		font-size: 24px;
		float: left;
	}

	.left {
		padding: 0 0 0 0.5em;
	}

	.right {
		padding: 0 0.5em 0 0;
	}

	.top {
		padding: 1em 0.5em 0.5em 0.5em;
	}

	.bottom {
		padding: 0.5em 0.5em 1em 0.5em;
	}

	.CodeMirror {
		padding: 0.3em;
		box-sizing: border-box;
	}
</style>


<script>
	var noConflict = {}, eval2 = eval;

	component.exports = {
		init: function () {
			var self = this, setup, run;

			setup = function () {
				window.seeAbove = self.get( 'template' );
				eval2( self.get( 'code' ) );
			};

			run = function () {
				eval2( self.get( 'console' ) );
			};

			this.on({
				setup: function ( event ) {
					if ( event.shift ) {
						setup();
						event.original.preventDefault();
					}
				},
				run: function ( event ) {
					if ( event.shift ) {
						run();
						event.original.preventDefault();
					}
				}
			});

			setup();
		},

		data: {
			template: '<p>Hello world!</p>',
			code: "var ractive = new Ractive({\n  el: '.output',\n  template: seeAbove\n});",
			console: "// enter some code and run it"
		}
	};
</script>
