body {
	font-family: 'Helvetica Neue';
	font-weight: 200;
	font-size: 48px;
	color: white;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	margin: 0;
	display: inline-block;
}

h1, h2 {
	background-color: rgba(0,0,0,0.4);
	padding: 0.2em;

	&.no-bg {
		background-color: transparent;
	}
}

.black-on-white {
	h1, h2 {
		background-color: rgba(255,255,255,0.4);

		&.no-bg {
			background-color: transparent;
		}
	}
}


@import "article";
@import "blockquote";
@import "layout";
@import "h2";
@import "misc";
@import "components";
@import "code";
@import "codemirror";
